.h1{
position:fixed;top:200px;left:100px;color:white;font-size:100px;
}

.btn1{position:fixed;top:265px;left:700px;}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

